# PyCitySchools Challenge

In [1]:
 # Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "PyCitySchools_Resources_schools_complete.csv"
student_data_to_load = "PyCitySchools_Resources_students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# school_data_complete.count()
# school_data_complete.tail()

# for col in school_data_complete.columns: 
#    print(col)

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary
1. Calculate the total number of schools
2. Calculate the total number of students
3. Calculate the total budget
4. Calculate the average math score 
5. Calculate the average reading score
6. Calculate the percentage of students with a passing math score (70 or greater)
7. Calculate the percentage of students with a passing reading score (70 or greater)
8. Calculate the percentage of students who passed math and reading (% Overall Passing)
9. Create a dataframe to hold the above results
10. Optional: give the displayed data cleaner formatting

In [3]:
# 1. Calculate the total number of schools
#school_data_complete.school_name.unique()

total_schools = len(school_data_complete["school_name"].unique())
total_schools

15

In [4]:
# 2. Calculate the total number of students

total_students = len(school_data_complete["Student ID"].unique())
total_students

39170

In [5]:
# 3. Calculate the total budget
# NOTE: also can use the original school_data-csv file to calculate the sum OR retrieve the unique budget from the merged df

total_budget = sum(school_data_complete["budget"].unique())
total_budget

24649428

In [6]:
# 4. Calculate the average math score 

average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [7]:
# 5. Calculate the average reading score

average_reading_score= school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [8]:
# 6. Calculate the percentage of students with a passing math score (70 or greater)

passing_math = len(school_data_complete.loc[school_data_complete["math_score"] >= 70]["Student ID"])
pct_passing_math =(passing_math /total_students) * 100
pct_passing_math

74.9808526933878

In [9]:
# 7. Calculate the percentage of students with a passing reading score (70 or greater)

passing_reading = len(school_data_complete.loc[school_data_complete["reading_score"] >= 70]["Student ID"])
pct_passing_reading =(passing_reading /total_students) * 100
pct_passing_reading

85.80546336482001

In [10]:
# 8. Calculate the percentage of students who passed math and reading (% Overall Passing)
# student passed BOTH math & reading

overall_passing = len(school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)]["Student ID"])
pct_overall_passing = (overall_passing/total_students) * 100
pct_overall_passing

65.17232575950983

In [11]:
# 9. Create a dataframe to hold the above results 
# create dictionary

district_summary = {
    "Total Schools": total_schools,
    "Total Students": total_students,
    "Total Budget": total_budget,
    "Average Reading Score": average_reading_score,
    "Average Math Score": average_math_score,
    "% Passing Reading":pct_passing_reading,
    "% Passing Math": pct_passing_math,
    "Overall Passing Rate": pct_overall_passing
}

district_summary_df = pd.DataFrame(district_summary,index=[0])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,Overall Passing Rate
0,15,39170,24649428,81.87784,78.985371,85.805463,74.980853,65.172326

In [ ]:
# 10. OPTIONAL: give the displayed data cleaner formatting

# School Summary
* Create an overview table that summarizes key metrics about each school, including:
    1. School Name
    2. School Type
    3. Total Students
    4. Total School Budget
    5. Per Student Budget
    6. Average Math Score
    7. Average Reading Score
    8. % Passing Math
    9. % Passing Reading
    10. % Overall Passing (The percentage of students that passed math and reading.)
    

* Create a dataframe to hold the above results